<footer>
    <div id="footerInfo">
        <article>
            <h4>Story behind this book search engine.</h4>
            <p>This book search engine was created as part of <br>
                a web development course. A web api (penguin random  <br>
                house) is usedas well as the fetch api and the handlebars library.</p><br>
        </article>
                
        <article>
            <h4>Ιnstructions for use</h4>
            <p>You can search for a book by filling in the appropriate field<br>
            (author name, book title or isbn code) and pressing the search button.<br>
            You can also clear the search fields by pressing the reset fields button.</p>
        </article>
    </div>
            

    <div id="footerCopyrights">
        <p>Created by: Stelios Pantelopoulos</p>
        <p>Contact me: pantelopoulosstelios@gmail.com</p>
        <p>© 2021-Present  FindYourBook.com</p>
    </div>
            
</footer> 