/* MAIN FORM */

main #mainForm{
    width: 30%;
    margin-left: 35%;
    margin-top: 60px;
    background-color: rgb(230,230,250);
    border: 3px solid rgb(123,104,238);
}

main #mainForm h6{
    margin: -0.5px;
    text-align: center;
    background-color: rgb(123,104,238);
    color: white;
    font-size: 20px;
}

main #mainForm form{
    margin-top: 15px;
}

main #mainForm label{
    margin-left: 30%;
    font-size: 16px;
}

main #mainForm input{
    margin-top: 3px;
    margin-left: 30%;
    width: 40%;
}

main #mainForm button{
    width: 20%;
    margin-left: 40%;
    margin-top: 40px;
}

main #mainForm p{
    margin-top: 10px;
    color: rgb(123,104,238);
    text-align: center;
}

main #mainForm p:hover{
    text-decoration: underline;
}


/* MAIN BOOKS FOUND */

main #booksDiv:not(:empty){
    text-align: center;
    margin-top: 100px;
    border-top: 1px solid rgb(123,104,238);
}


main #booksDiv h6.searchType {
    font-size: 20px;
    margin-bottom: -30px;
}

main #booksDiv h6 span{
    font-weight: 500;
}


